%h2
  Convert any time into your local time
.input
  // .left
  // &nbsp;
  %form
    %input{"type" => "input", "name" => "time", "placeholder" => "Type your time here and press enter. " + @response['out_time'] + " " + @response['out_timezone']}
  // .right
  // &nbsp;