#time
  - if @response['error'] == nil
    - if @response['current_time']
      %h2
        = "The current time in " + @response['in_timezone'] + " is"
      %h1
        = @response['out_time'] + " (" + @response['in_timezone'].strip! + ")"
    - else
      %h2
        = @response['in_time'] + " " + @response['in_timezone']
        in your time is
      %h1
        = @response['out_time'] + " " + @response['out_timezone']
  - else
    %h1 Error
    %h2 You tried to convert an invalid time