<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
%html
  %head   
    %title What's that in my time?
    %link{:href=>"http://roboto-webfont.googlecode.com/svn/trunk/roboto.all.css", :rel=>"stylesheet", :type=>"text/css"}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %script{:src=>"app.js", :type=>"text/javascript"}

    %body{"onload" => "loadTime()"}
      .content
        #time
          = yield

        .footer
          %a{:href=>"https://github.com/scruffyfox/In-my-time/blob/master/README.md"} api
          &nbsp;|&nbsp;
          %a{:href=>"mailto:callum@callumtaylor.net"} contact
          &nbsp;|&nbsp;
          %a{:href=>"https://github.com/scruffyfox/In-my-time"} github
    - if !(request.env["REQUEST_URI"] || "").include?("nojs")
      %noscript
        %meta{"http-equiv" => "refresh", :content => "0;URL='?nojs'"}

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36814155-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();